.modal-ticket {
    position: fixed;
    top: 20%;
    left: 0;
    width: 100%;

    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;


}

.modal-ticket.open {
    display: flex;
}

.modal-ticket-content {
    background: white;
    padding: 20px;
    border-radius: 4px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
}